@font-face {
   font-family: 'Nunito';
   src: url('fonts/nunito/Nunito-Regular.woff2') format('woff2');
}

@font-face {
   font-family: 'Nunito';
   src: url('fonts/nunito/Nunito-Bold.woff2') format('woff2');
   font-weight: bold;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(30,30,30,.4); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(30,30,30,.5); 
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

html {
    height: 100%;
}

body {
/*    padding-top: 70px;*/
    font-family: "Nunito"!important;
}

body.no-nav {
    padding-top: 0;
    height: 100%;
    min-height: 100%;
}

.fs-13px {
    font-size: 13px!important;
}

.fs-14px {
    font-size: 14px!important;
}

table *{
    font-size: 14px!important;
}

pre {
    white-space: pre-wrap!important;
}
pre code {
    font-size: 12px!important;
}

.form-check-input:checked {
    background-color: rgb(25, 135, 84);
    border: rgb(25, 135, 84);
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

ol.inside, ul.inside {
    list-style-position: inside;
}

.btn.refresh-active span {
    color: #449d44;
}

#autoRefresh, #autoRefreshSummary {
    margin-top: 4.5px;
}

.ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#actionsRow form {
/*    display: inline-block;*/
/*    padding: 0 10px;*/
}

#actionsRow form input {
/*    padding: 5px 0px;*/
/*    width: 80px;*/
}

.a-unstyled { color: inherit; text-decoration: none; }
.a-unstyled:link { color: inherit; text-decoration: none; }
.a-unstyled:visited { color: inherit; text-decoration: none; }
.a-unstyled:hover { color: #00B0E8; text-decoration: none; }
.a-unstyled:active { color: inherit; text-decoration: none; }

.navbar-inverse .a-unstyled { color: inherit; text-decoration: none; }
.navbar-inverse .a-unstyled:link { color: inherit; text-decoration: none; }
.navbar-inverse .a-unstyled:visited { color: inherit; text-decoration: none; }
.navbar-inverse .a-unstyled:hover { color: inherit; text-decoration: none; }
.navbar-inverse .a-unstyled:active { color: inherit; text-decoration: none; }

/** Highlight buried jobs */
#summaryTable * td.td-current-jobs-buried.hasValue, #servers-index * td.td-current-jobs-buried.hasValue {
    color: darkred;
    color: #e685b5;
    font-weight: bolder;
/*    background-color: #ffdddd;*/
}

/** Highlight delayed jobs */
#summaryTable * td.td-current-jobs-delayed.hasValue, #servers-index * td.td-current-jobs-delayed.hasValue {
    color: #AD532D;
    color: #d7be3a;
    font-weight: bolder;
/*    background-color: #FFF3DD;*/
}

/** Highlight paused tubes */
tr.tr-tube-paused {
    border-left: 6px solid #FFA49A;
}